/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  height: 100vh;
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary);
}

p {
  color: var(--color-on-surface);
}

.main-window {
  // display: inline-block;
  align-items: center;
  background-color: aqua;
  // text-align: center;
  height: 500px;
  width: 800px;
}

.main-photo{
  background-image: url("public/images/main-photo.png");
  width: 576px;
  height: 296px;
}

.main-text{
  display: block;
}

.post-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 20px;
  height: 10vh;
  background-color: brown;
}

.post-user-info{
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  background-color: greenyellow;
}

.post-add-time{
  display: flex;
  padding: 10px;
  margin-right: 5px;
  background-color: yellow;
  align-items: center;
  
}